:root {
	font-size: 16px;
	font-family: 'Raleway';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #212529;
	--bg-secondary: #f1f1f1;
	--transition-speed: 600ms;
}

body {
	color: black;
	background-color: white;
	margin: 0;
	padding: 0;
}

/* ----------------------------------------- */
/* ----------- COMMON LAYOUT CSS ----------- */
/* ----------------------------------------- */

/* Header */
header {
	height: 5vh;
	width: 100vw;
	background-color: var(--bg-primary);
}

.header-item {
	height: 100%;
	width: max-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header img {
	height: 100%;
}

/* Navbar */
.navbar {
	width: 5vw;
	height: 95vh;
	position: fixed;
	background-color: var(--bg-secondary);
	text-align: center;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin:0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.nav-link img {
	width: 50%;
	margin-top: 3vh;
}

.nav-item:last-child {
	margin-top: auto;
	margin-bottom: 1vh;
}

.nav-link img:hover {
	border-radius: 5px;
	background-color: white;
}

/* Main */
main {
	margin-left: 5rem;
	height: 95vh;
	display: flex;
	flex-direction: column;
}

main h1 {
	margin: 0;
	padding-left: 1.25vw;
	padding-top: 1.25vh;
}

/* Top Dashboard Row */
.top-row {
	height: 30vh;
	width: 92.5vw;
	margin-left: 0;
	margin-right: 1.25vw;
	margin-top: 1.25vh;
	margin-bottom: 1.25vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.card-top {
	display: flex;
	text-align : center;
	align-items: center;
	flex-direction: column;
	
	height: 90%;
	width: 22.5%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #28a745;
}

.card-top-header {
	width: 100%;
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* Bottom Dashboard Row */
.bottom-row {
	height: 55vh;
	width: 92.5vw;
	margin-left: 0;
	margin-right: 1.25vw;
	margin-top: 1.25vh;
	margin-bottom: 2.5vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.card-bottom {
	height: 100%;
	width: 47.5%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
	background-color: #f8f9fa;
	
	display: flex;
	flex-direction: column;
}

.card-bottom-header {
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* Button */
.btn {
	font-size: 16px;
	font-family: 'Raleway';
	height: 20%;
	width: 50%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
	background-color: #f8f9fa;
	margin-top: auto;
	margin-bottom: 10px;
}

.btn:hover {
	opacity: 0.95;
}

/* Blur */
.disabled {
    pointer-events: none;
    opacity: 0.4;
}

/* ----------------------------------------- */
/* -------- INDEX.HTML SPECIFIC CSS -------- */
/* ----------------------------------------- */

/* Top-row content */
.manual {
	margin-top: 10px;
}

.info-container {
	font-size: small;
	width: 80%;
	margin-top: 1%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.info-container  h4, p {
	margin: 0.5%;
	padding: 0;
}

.info-container h4 {
	text-decoration: underline;
}

.info-container p {
	margin-left: 10%;
}

/* Bottom-row content */
.card-bottom-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#video {
	max-width:100%;
	max-height:90%;
}

.card-bottom-content p {
	text-align: justify;
	align-self: flex-start;
}

/* ---------- Game card content ---------- */
/* Home */
.nav-content {
	list-style: none;
	padding: 0;
	margin:0;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.nav-content-item {
	display: flex;
	align-items: center;
	padding-left: 2vh;
	padding-top: 0.5vh;
}

.nav-content-item img {
	height: 4vh;
	margin-left: 1vh;
}

.nav-content-item p {
	align-self: center;
	padding-left: 2vh;
}

#zone_joystick {
	position: absolute;
	align-self: center;
	bottom: 27.5vh;
}

/* Manual */
#manual-title {
	padding: 0;
	margin: 0;
}

.manual-info {
	width: 40%;
	height: 10%;
	display: flex;
	margin-top: auto;
	align-items: center;
	justify-items: center;
	margin-bottom: 3vh;
}

.manual-info-title p {
	margin: 0;
	font-weight: bold;
}

.manual-info-coordinate {
	width: 20%;
	margin-left: auto;
}

.slidecontainer {
	width: 100%;
}
.slider_text{
	width: 30%;
	/* margin-left: auto; */
	/* margin-right: auto; */
}
.slider_manual {
	-webkit-appearance: none;
	width: 40%;
	height: 15px;
	border-radius: 5px;
	background: #d6d2d2;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	/* margin-left: auto; */
	margin-right: auto;
}
  
.slider_manual::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #28a745;
	cursor: pointer;
}
.slider_manual:hover {
	opacity: 1;
}
.slider_manual::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #28a745;
	cursor: pointer;
}
/* Game */
.score {
	list-style: none;
	padding: 0;
	margin:0;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 90%;
}

.score-item {
	font-size: x-large;
	font-weight: bold;
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	padding: 0.5%;

}

.score-item-content {
	height: 100%;
	width: 45%;
	text-align: center;
}

#robot-img {
	max-height: 30px;
	max-width: 30px;
}

.difficulty-info {
	margin-top: auto;
	margin-left: 2%;
}

.game-btn {
	height: 20%;
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin-top: 2%;
}

.game-btn .btn {
	height: 85%;
	width: 30%;
	font-weight: bold;
	font-size: 18px;
	justify-items: center;
}

#start_game {
	background-color: rgba(40, 167, 69, 0.75);
}

#stop_game {
	background-color: rgba(255, 0, 0, 0.75);
}

#pause_game {
	background-color: rgba(255, 230, 0, 0.75);
}

/* ----------------------------------------- */
/* -------- WEBCAM.HTML SPECIFIC CSS ------- */
/* ----------------------------------------- */

/* Slider design */
.slider-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 70%;
	height: 10px;
	background: #f8f9fa;
	outline: none;
	margin-left: 10px;
	margin-right: 20px;
	border-radius: 0.25rem;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px; 
	height: 15px; 
	background: var(--bg-primary); 
	cursor: pointer; 
	border-radius: 0.25rem;
}
  
.slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	background: var(--bg-primary);
	cursor: pointer;
	border-radius: 0.25rem;
}

.p-slider {
	margin: 0;
	padding: 0;
}

/* ----------------------------------------- */
/* ------- SETTINGS.HTML SPECIFIC CSS ------ */
/* ----------------------------------------- */

.inputs {
	display: flex;
	flex-direction: column;
	font-size: large;
	font-weight: bold;
	margin-left: 2%;
}
.players {
	margin-top: 1%;
}

.players-names-item {
	text-indent: 3%;
	margin: 1%;
}

.joystick-slider {
	margin-bottom: 1vh;
}

.inputs .btn {
	width: 20%;
	height: 5vh;
}

.inputs .btn:hover {
	opacity: 0.5;
}

.reset {
	background-color: #cccccc;
}
/* ----------------------------------------- */
/* -------- RULES.HTML SPECIFIC CSS -------- */
/* ----------------------------------------- */

.rules-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}