:root {
	font-size: 16px;
	font-family: 'Raleway';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #212529;
	--bg-secondary: #f1f1f1;
	--transition-speed: 600ms;
}

body {
	color: black;
	background-color: white;
	margin: 0;
	padding: 0;
}

/* Header */
header {
	height: 5vh;
	width: 100vw;
	background-color: var(--bg-primary);
}

.header-item {
	height: 100%;
	width: max-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header img {
	height: 100%;
}

/* Navbar */
.navbar {
	width: 5vw;
	height: 95vh;
	position: fixed;
	background-color: var(--bg-secondary);
	text-align: center;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin:0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.nav-link img {
	width: 50%;
	margin-top: 3vh;
}

.nav-item:last-child {
	margin-top: auto;
	margin-bottom: 1vh;
}

.nav-link img:hover {
	border-radius: 5px;
	background-color: white;
}

/* Main */
main {
	margin-left: 5rem;
	height: 95vh;
	display: flex;
	flex-direction: column;
}

main h1 {
	margin: 0;
	padding-left: 1.25vw;
	padding-top: 1.25vh;
}

/* Top Dashboard Row */
.top-row {
	height: 30vh;
	width: 92.5vw;
	margin-left: 0;
	margin-right: 1.25vw;
	margin-top: 1.25vh;
	margin-bottom: 1.25vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.card-top {
	display: flex;
	text-align : center;
	align-items: center;
	flex-direction: column;
	
	height: 90%;
	width: 22.5%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #28a745;
}

.card-top-header {
	width: 100%;
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}


/* Bottom Dashboard Row */
.bottom-row {
	height: 55vh;
	width: 92.5vw;
	margin-left: 0;
	margin-right: 1.25vw;
	margin-top: 1.25vh;
	margin-bottom: 2.5vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.card-bottom {
	height: 100%;
	width: 47.5%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #f8f9fa;
}

.card-bottom-header {
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-bottom-content {
	height: 100%;
	width: 100%;
}

/* Buttons Design */
.btn {
	font-size: 16px;
	font-family: 'Raleway';
	height: 20%;
	width: 50%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
	background-color: #f8f9fa;
	margin-top: auto;
	margin-bottom: 10px;
}

/* Blur section */
.disabled {
    pointer-events: none;
    opacity: 0.4;
}

/* Index's HTML Specific CSS */
.manual {
	margin-top: 10px;
}

.info-container {
	width: 80%;
	margin-top: 2%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.info-container  h4, p {
	margin: 1.5%;
	padding: 0;
}

.info-container h4 {
	text-decoration: underline;
}

.info-container p {
	margin-left: 10%;
}

/* Webcam's HTML Specific CSS */
.slider-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 70%;
	height: 10px;
	background: #f8f9fa;
	outline: none;
	margin-left: 10px;
	margin-right: 20px;
	border-radius: 0.25rem;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px; 
	height: 15px; 
	background: var(--bg-primary); 
	cursor: pointer; 
	border-radius: 0.25rem;
}
  
.slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	background: var(--bg-primary);
	cursor: pointer;
	border-radius: 0.25rem;
}

.p-slider {
	margin: 0;
	padding: 0;
}

/* Settings' HTML Specific CSS */