:root {
	font-size: 16px;
	font-family: 'Raleway';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #212529;
	--bg-secondary: #f1f1f1;
	--transition-speed: 600ms;
}

body {
	color: black;
	background-color: white;
	margin: 0;
	padding: 0;
}

/* Header */
header {
	height: 5vh;
	width: 100vw;
	background-color: var(--bg-primary);
}

.header-item {
	height: 100%;
	width: max-content;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header img {
	height: 100%;
}

/* Navbar */
.navbar {
	width: 4rem;
	height: 95vh;
	position: fixed;
	background-color: var(--bg-secondary);
	text-align: center;
	transition: width 300ms ease;
	
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin:0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.nav-item{
	width: 100%;
}
.nav-item:last-child {
	margin-top: auto;
}

.nav-link{
	display: flex;
	align-items: center;
	color: black;
	margin-left: 2px;
	text-decoration: none;
}

.link-text
{
 display: none;
 margin-left: 1rem;
}

.nav-link img {
	width: 30px;
	margin-top: 1rem;
	margin-left: 0.75rem;
	margin-bottom: 3vh;
}

.nav-link img:hover {
	border-radius: 5px;
	background-color: #28a745;
}

.navbar:hover{
	width: 12rem;
}

.navbar:hover .link-text{
	display: block;
	margin-left: 1rem;
}

/* Main */
main {
	margin-left: 5rem;
	height: 95vh;
	display: flex;
	flex-direction: column;
}

main h1 {
	margin: 0;
	padding-left: 1.25vw;
	padding-top: 1.25vh;
}

/* Top Dashboard Row */
.top-row {
	height: 30vh;
	width: 92.5vw;
	margin-left: 0;
	margin-right: 1.25vw;
	margin-top: 1.25vh;
	margin-bottom: 1.25vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.card-top {

	display: flex;
	text-align : center;
	align-items: center;
	flex-direction: column;
	
	height: 90%;
	width: 22.5%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #28a745;
}

.card-top-header {
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* Bottom Dashboard Row */
.bottom-row {
	height: 55vh;
	width: 92.5vw;
	margin-left: 0;
	margin-right: 1.25vw;
	margin-top: 1.25vh;
	margin-bottom: 2.5vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.card-bottom {
	height: 100%;
	width: 47.5%;
	border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #f8f9fa;
}

.card-bottom-header {
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/**Button**/

.start-btn{

	font-family: 'Press Start 2p';	

	text-align : center;

	width: 75%;
	margin-top : 0.5rem;

    font-weight: bold;
    padding: 10px 10px 10px 7px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color:  #28a745;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .3em gray; 
	cursor: pointer;

}

.start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}