/* Browser's default settings */
body {
    margin: auto 0;
    font-family: "Bangers";
}

/*.zone {
    cursor: pointer;
    color:#FFF;
    transition: all 0.3s linear;
}*/

/* NAV */
.main-nav {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    padding: 0px;    
    border-bottom: 5px solid red;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.85em;
        padding: 0px;
    }
}
.push-left {
    margin-right: auto;
}

.push-right {
    margin-left: auto;
}

.main-nav li {
    padding: 15px;
}

.main-nav a {
    color: black;
    text-decoration: none;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
}

.container {
    /*show heigh: auto*/
    height: 70vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    width: 30rem;
}

footer {
    text-align: center;
    background-color: #444;
}
