<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    <include file="$(find webcam)/launch/webcam.launch"/>
    <include file="$(find vision)/launch/vision.launch"/>
    <include file="$(find ui)/launch/ui.launch"/>
	<include file="$(find simulation)/launch/simulation.launch"/>
	<include file="$(find strategy)/launch/strategy.launch"/>
</launch>
